@import "tailwindcss";
@keyframes gradientMove {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(60px, -40px) scale(1.15);
  }

  66% {
    transform: translate(-50px, 40px) scale(0.95);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-gradient-slow {
  animation: gradientMove 24s ease-in-out infinite;
}